@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');



*
{
    font-family: 'Raleway', sans-serif;

}

.container
{
    max-width: 1200px;
    margin: auto;
}


a
{
    text-decoration: none;
    color: black;
}










/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 40px;
}

.selected a
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.login a
{
    color: #0065FC;
    font-weight: bold;
}











/* Intro */

.intro h1
{
    font-size: large;
}



/* Comment */
.comment{
    display: flex;
    margin: 10px;
    text-align: center;
    /* border: 1px solid black; */
}
.comment i
{
    border-radius: 15px;
    border: 2px solid #F2F2F2;
    color: #0065FC;
    margin:auto;
    margin-left: 0;
    margin-right: 5px;
    padding: 3px 1.5px 3px 1.5px;
}

.comment p
{
    /* margin-top: 10px; */
    /* border: 1px solid black; */
}






/* Search */

.search
{
    margin-top: 20px;
}


.input-text
{
    position: relative;
}

.input-text i
{
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    transition: 0.3s;
}

.input-text i:hover
{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    border: 2px solid #0065FC;
}

.input-text input[type=text]
{
    border: 2px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding: 8px;
    transition: 0.3s;
    padding-left: 10px;
    margin-left: 40px;
    outline-width: 0;
}

.input-text input[type=text]:focus
{
    border: 2px solid #F2F2F2;
    /* box-shadow: 0 0 5px #0065FC; */
    border-left: none;
    border-right: none;
}

.input-text input[type=submit]
{
    position: absolute;
    padding: 8px;
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
}

.input-text input[type=submit]:hover
{
    /* box-shadow: 0 0 5px #0065FC; */
    background-color: #F2F2F2;
    color: #0065FC;
    cursor: pointer;
}

.input-text input[type=text]:focus + i
{
    color:white;
    background-color: #0065FC;
    padding: 8px;
}







/* Filtres */

.filters
{
    display: flex;
    margin: auto;
}

.filters h2
{
    margin-top: 20px;
    font-size: medium;
}

.checkboxes
{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 15px;
}

.checkboxes label
{
    /* display: flex;
    align-items: center; */
    margin-right: 20px;
    padding: 3px 0 3px 0;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    font-weight: 1000;
    border-left: 0;
    transition: 0.3s;
}

.checkboxes label:hover
{
    background-color: #F2F2F2;
}


/* 
.checkboxes label + input[type="checkbox"]:checked
{
    background-color: #F2F2F2;
} 
*/

.checkboxes input[type="checkbox"]
{
    display: none;
}

.checkboxes .label-text
{
    border-radius: 20px;
    margin-right: 10px;
}

.checkboxes input[type="checkbox"] + .label-text::before 
{
    font-family: "Font Awesome 5 Free";
    font-size: 0.7em;
    font-weight: 900;
    align-items: center;
    color: #0065FC;
    background-color: #d5e5ff;
    border-radius: 15px;
    padding: 8px;
    margin: auto;
    margin-right: 10px;
    transition: 0.3s;
    
    
}



.checkboxes input[type="checkbox"]:checked + .label-text::before 
{
    color: white;
    background-color: #0065FC;

}



.checkboxes input[type="checkbox"]#economique + .label-text::before 
{
    content: '\f53a';
}

.checkboxes input[type="checkbox"]#familial + .label-text::before 
{
    content: '\f1ae';
}

.checkboxes input[type="checkbox"]#romantique + .label-text::before 
{
    content: '\f004';
}

.checkboxes input[type="checkbox"]#animaux + .label-text::before 
{
    content: '\f6d3';
}







/* section */

section
{
    display: flex;
    justify-content: space-between;
}

section h2
{
    font-size: large;
    font-weight: 900;
}

section span
{
    font-size: small;
    font-weight: 900;
}

.hebergements
{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
}

.populaire
{
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.chambre-verticale:hover, .chambre-horizontale:hover
{
    box-shadow: 5px 5px 15px lightgray;

}

section a
{
    transition: 0.3s;
}

section a:hover
{
    color: #0065FC;

}



/* Hebergement */

.chambres
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;

}

.chambre-verticale
{
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 230px;
    font-size: small;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px lightgray;
    transition: 0.3s;
}

.chambre-verticale img
{
    display: block;
    height: 110px;
    width: calc(100% - 8px);
    border: 4px solid white;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    

}

.infos-chambre
{
    bottom: 0;
    left:0;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: calc(100% - 20px)    ;
    height: 50px;
    max-width: 100%;
    padding-left: 20px;
}

.infos-chambre h3, .infos-chambre p
{
    margin:3px 0 3px 0;
    font-size: small;
}




/* Populaire */

/* .chambres-pop
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

} */

.pop-icon
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.chambre-horizontale
{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    min-width: 178px;
    font-size: small;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;    
    border: 4px solid white;
    box-shadow: 0px 0px 6px lightgray;
    transition: 0.3s;

}
.chambre-horizontale a
{
    display: flex;
}

.chambre-horizontale img
{
    display: block;
    height: 100%;
    width: 35%;
    min-width: 35%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    

}

.infos-chambre-pop
{
    display: flex;
    flex-direction: column;
    align-content: stretch ;
    padding-left: 20px;
    
}

.pop-desc  h3, .pop-desc  p
{
    margin: 5px 0 5px 0;
    font-size: small;
}



.stars
{
    /* retirer le soulignement */
    /* position: absolute; */
    /* bottom: 0; */
}

.stars .fas 
{
    color:#0065FC;
}

.stars .fas + .grey
{
    color:#F2F2F2;
}

a:hover + .stars
{
    text-decoration: none;
}







/* Activités */

.activites
{
    margin: 20px 0 20px 0;
}

.activites h2
{
    font-size: large;
    margin: 20px 0 20px 0;
}

.liste-activites
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activite
{
    width: 250px;
    font-size: small;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px lightgray;
    transition: 0.3s;
}

.activite img
{
    display: block;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

.info-activite
{
    border-radius: 0px 0px 19px 19px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 35px;
    max-width: calc(100% - 20px);
    padding-left: 20px;
}

.activite:hover
{
    box-shadow: 6px 6px 6px lightgray;

}

.activites a 
{
    transition: 0.3s;
}

.activites a:hover
{
    color: #0065FC;

}



/* Agencement Activites */

.activites-verticales:nth-child(1) .activite a img
{
    height: 350px;
    width: 100%;
}

.activites-verticales:nth-child(2) .activite:nth-child(1) a img
{
    height: 160px;
    width: 100%;
}

.activites-verticales:nth-child(2) .activite:nth-child(2) a img
{
    height: 120px;
    width: 100%;
}

.activites-verticales:nth-child(3) .activite a img
{
    height: 350px;
    width: 100%;
}

.activites-verticales:nth-child(4) .activite:nth-child(1) a img
{
    height: 130px;
    width: 100%;
}

.activites-verticales:nth-child(4) .activite:nth-child(2) a img
{
    height: 150px;
    width: 100%;
}



/* footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.footer-element
{
    margin-left: 50px;
    margin-right: 50px;
}

footer ul
{
    list-style-type: none;
}

footer a:hover
{
    text-decoration: underline;
}

footer h1
{
    font-size: medium;
}